.container {
  height: 100vh;
  background-color: grey;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin-left: 4%;
  padding-top: 50px;
}

.logo {
  font-size: 25px;
}

.nav {
  width: 45%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.head-buttons {
  width: 18%;
}

.head-buttons > button {
  width: 36%;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  height: 40px;
}

.login {
  background-color: #20b870;
}

#top,
#bottom {
  height: 20vh;
  background-image: linear-gradient(45deg, #20b970, grey)
}

#top {
  border-bottom-left-radius: 500px;
}

#bottom {
  border-top-left-radius: 500px;
}

#middle {
  height: 55vh;
}

.form {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30%;
  margin-top: 30px;
}

.fullName {
  height: 55px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
}

.comment {
  height: 64%;
  font-size: 18px;
  border: none;
  border-radius: 12px;
}

.subBtn {
  width: 30%;
  height: 48px;
  padding: 12px;
  font-size: 18px;
  background-color: #20b970;
  border-radius: 8px;
  border: none;
}

.subBtn:hover {
  background-color: #d2f36f;
}

.copyright {
  font-size: 30px;
  text-align: center;
  padding-top: 45px;
}
