* {
  font-family: Poppins, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient( #79d58d, #fff);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  color: grey;
}

.logo {
  width: 20%;
  font-size: 26px;
}
.nav {
  display: flex;
  list-style: none;
  width: 50%;
  padding-top: 10px;
  justify-content: space-around;
  margin-right: 10%;
  font-size: 20px;
}

.head-buttons {
  display: flex;
  width: 15%;
}

.login {
  background: transparent;
  width: 50%;
  height: 50%;
  margin-top: 10%;
  border: none;
  color: grey;
  font-size: 20px;
}

.register {
  background: #20b970;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin-top: 10%;
  border: none;
  color: #fff;
  font-size: 20px;
}

.welcome {
  font-size: 50px;
  font-style: bold;
  line-height: 55px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

#wel-text {
  width: 50%;
  font-size: 20px;
  text-align: center;
  margin-left: 25%;
  margin-top: -20px;
}

.welcome-buttons {
  width: 30%;
  margin-left: 35%;
  text-align: center;
}

.wel-button {
  width: 40%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

#download {
  background: white;
  color: #20b970;
  padding: 12px;

}

#started {
  background: #20b970;
  color: #fff;
  padding: 12px;
}

.home {
  display: flex;
  width: 85%;
  margin-left: 10%;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #fff;
  margin-bottom: 50px;
}

.menu {
  width: 15%;
  padding-top: 25px;
}

.company {
  text-align: center;
}

.menu-options {
  width: 70%;
  list-style: none;
  margin-left: -20px;
  font-size: 20px;
  margin-top: 60px;
}

.m-option {
  margin-bottom: 15px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: grey;
  margin: 20px;
  border-radius: 20px;
  padding-left: 15px;
}

.invite {
  margin-top: -10px;
}

.search {
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.search-bar {
  width: 65%;
}

.s-button {
  width: 20%;
  border-radius: 10px;
  color: #fff;
  background-color: #20b970;
}

.searches {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
}

#s-place {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
  width: 55%;
}

.destinations {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 20px;
}

.destination {
  width: 20%;
  height: 240px;
  border-radius: 20px;
  background-repeat: no-repeat;
}

.destination > * {
  color: #fff;
}

.d-heading {
  width: 84%;
  margin-left: 8%;
  margin-top: 165px;
  background: rgba(30, 30, 30, 0.3);
  border-radius: 10px;
  padding-left: 8px;
}

.vac-name {
  margin: 0;
  font-size: 16px;
}

.loc-section {
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
}

.location,
.like,
.cost {
  margin: 0;
}

#events {
  display: flex;
  justify-content: space-between;
}

.view-all {
  margin-right: 34px;
  cursor: pointer;
}

.d-dest {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 0 20px;
  justify-content: space-between;
}

.dest {
  width: 47%;
  height: 70px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.dd-head {
  height: 100%;
  background: #20b970;
  display: flex;
  border-radius: 10px;
}

.tou-image {
  width: 25%;
  height: 90%;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 7px;
  background-position: center;
}

.cover {
  width: 75%;
  margin-top: 2%;
}

.dd-1 {
  font-size: 16px;
  margin: 0;
}

.dd-2 {
  height: 16px;
  margin: 2px;
  display: flex;
  margin-top: -6px;
  justify-content: space-between;
}

.loc {
  margin: 5px;
}

.lik {
  margin: 5px;
  width: 20%;
  height: 20px;
}

.price {
  margin: 5px;
}

.profile {
  width: 25%;
  background-image: url('../assets/mountains-0.jpg');
  background-size: cover;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.profile > * {
  color: #fff;
}

#name,
.hobby {
  font-size: 18px;
}

.picture {
  height: 140px;
  width: 40%;
  background:blue;
  border-radius: 80px;
}

.trips {
  font-size: 25px;
}

#fame {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fame-header {
  font-size: 30px;
  margin: 0;
}

.pitch {
 width: 60%;
 text-align: center;
}

.milestones {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.milestone {
  text-align: center;
}

.number {
  font-size: 40px;
  margin-bottom: 0px;
}

.text {
  font-size: 15px;
  margin-top: 0px;
}

.vacations {
  width: 70%;
}

.vacation {
  width: 100%;
}

.vac-head {
  display: flex;
  width: 100%;
  background: rgba(30, 30, 30, 0.3);
  margin-bottom: 20px;
  border-radius: 12px;
}
.vac-image,
.vac-cover,
.vac-1,
.vac-2,
.people {
  margin: 0;
}

.vac-image {
  width: 25%;
  background: cyan;
  height: 70px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 6px;
}

.vac-cover {
  width: 75%;
  padding-left: 10px;
}

.vac-2,
.people {
  margin-top: -4px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.foot-1 {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.culture {
  width: 30%;
}

.foot-head {
  margin-bottom: 0;
  font-size: 20px;
}

.foot-text {
  margin-top: 10px;
}
.f-nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.f-item {
  list-style: none;
  font-style: bold;
  font-size: 20px;
}

.c-item,
.s-item,
.l-item {
  font-size: 17px;
  font-style: normal;
}

hr {
  width: 80%;
  border: 1px solid grey;
}

